<li>{{#linkTo 'itinerary.list' data-toggle="tab"}}List{{/linkTo}}</li>
<li>{{#linkTo 'itinerary.map' data-toggle="tab"}}Map{{/linkTo}}</li>
<li>{{#linkTo 'itinerary.alts' data-toggle="tab"}}You may also like ...{{/linkTo}}</li>
