<section id="list">
  {{#view App.ItineraryListView}}
    {{#each activity in activities}}
      {{#linkTo place activity.place}}
        {{view view.itemView}}
      {{/linkTo}}
    {{/each}}
  {{/view}}
</section>