<div class="wrapper">
  <div class="loader-widget">
    <span class="logo"></span>
    <section>
      <i class="icon-spinner icon-spin icon-large"></i> 
      <h2>Please wait a moment.</h2>
      <h4>(We're picking the perfect places for you.)</h4>
    </section>
  </div>
</div>