<section>
    <h1>Test Frontend: Application</h1>
    {{#linkTo "index"}}Index{{/linkTo}}
    {{#linkTo "itinerary"}}Itinerary{{/linkTo}}
</section>
<section id="outlet">
	{{outlet}}
</section>
{{log this}}

