{{#linkTo 'index'}}<h2>Test App</h2>{{/linkTo}}
<nav>
  <ul>
    <li>{{#linkTo 'itinerary.list'}}List{{/linkTo}}</li>
    <li>{{#linkTo 'itinerary.map'}}Map{{/linkTo}}</li>
    <li>{{#linkTo 'activity'}}Activity{{/linkTo}}</li>
  </ul>
</nav>

{{outlet}}
