<nav><div class="navbar navbar-inverse"><div class="navbar-inner"><div class="wrapper"><ul class="nav">
  <li>
      {{#linkTo 'index' class="logo"}}{{/linkTo}}
    </li>
    <li class="active" id="title">
      {{#linkTo 'index'}}Captain Planner{{/linkTo}}
      <span class="navbar-unread">beta!</span>
    </li>
    <li><a href="http://www.captainplanner.com/">about us</a></li>
  </ul>
  <ul class="nav pull-right">
    <li>
      <a id='feedback' href="#" onclick="BetaDialog.popDialog()">Sign Up</a>
    </li>
  </ul>
</div></div></div></nav>

{{outlet}}

<footer>
  <div class="wrapper">
    <div class="content">
      <h4>Copyright 2013 Captain Planner</h4>
      <span>Made with love and caffeine in Hong Kong.</span>
    </div>
  </div>
</footer>

{{#if App.submitting}}
  {{view App.EmailModalView}}
{{/if}}