<section class="email">
<form class="toEmail">
{{view Ember.TextField valueBinding="App.EmailView.email" classBinding="emailExample"}}
<button {{action submit target="App.day"}}>Send to Email</button>
</form>
</section>