<section class="image">
	<div class="hero-unit">
	<h1>instant one-day adventure!</h1>
	<p>choose a trip</p>
	</div>
	<section class="options">
		<div class="buttons">
	{{#linkTo 'list'}}<button class="action-example">Best of Hong Kong</button>{{/linkTo}}
	<br>
	{{#linkTo 'list'}}<button class="action-example">Local Flavor</button>{{/linkTo}}
	<br>
	{{#linkTo 'list'}}<button class="action-example">Family Friendly</button>{{/linkTo}}
		</div>
	</section>
</section>
