<section class="index">
  <div class="image">
    <div class="wrapper">
      <div class="hero-unit">
      <h1>instant one-day adventure!</h1>
      <p>choose a trip</p>
      </div>
      <div class="buttons">
        {{#linkTo 'itinerary.list'}}<button>Best of Hong Kong</button>{{/linkTo}}
        <br>
        {{#linkTo 'itinerary.list'}}<button>Local Flavor</button>{{/linkTo}}
        <br>
        {{#linkTo 'itinerary.list'}}<button>Family Friendly</button>{{/linkTo}}
      </div>
    </div>
  </div>
</section>
