<section id="itinerary">
  <section class="itinerary-control-bar">
    <div class="plumbing">
      <span>{{#linkTo 'index' class="label label-info"}}< Back{{/linkTo}}</span>
      <span><h3>Best of Hong Kong</h3></span>
      <span>{{#view App.EmailButtonView}}Download Itinerary{{/view}}</span>
   </div>
    {{view view.itineraryTabs}}
  </section>
  <section id="itinerary-child">
    {{outlet}}
  </section>
</section>