<section class="interface">
	<h2>Customize your Itinerary!</h2>
	{{#linkTo 'map'}}<button>Map</button>{{/linkTo}}
	{{#linkTo 'list'}}<button>List</button>{{/linkTo}}
	{{view App.EmailView}}
</section>
<section>
	{{outlet}}
</section>
<footer>{{view App.EmailView}}</footer>
{{log this}}
