<section>
	<h2>Customize your Itinerary!</h2>
	{{#linkTo 'map'}}<button class="action-example top-tab">Map</button>{{/linkTo}}
	{{#linkTo 'list'}}<button class="action-example top-tab">List</button>{{/linkTo}}
</section>
<section>
	{{outlet}}
</section>
{{view App.EmailView}}
{{log this}}
