<section>
	<h2>Itinerary</h2>
	<span>{{#linkTo "map"}}Map{{/linkTo}}</span>
	<span>{{#linkTo "list"}}List{{/linkTo}}</span>
</section>
<section>
	{{outlet}}
</section>
{{view App.EmailView}}
{{log this}}
