<div class="modal-header">
  <h3>Please Wait</h3>
</div>
<div class="modal-body">
  <section>
    <i class="icon-spinner icon-spin icon-large center"></i> 
    <p>We're hard at work processing your request.</p>
  </section>
</div>
<div class="modal-footer">
  <p>Share your itinerary on Facebook or Google+ to get a 10% off Cafe O Coupon!</p>
  <ul>
    <li class="fb"><i class='icon icon-facebook-sign icon-3x'></i> </li>
    <li class="gplus"><i class='icon icon-google-plus-sign icon-3x'></i> </li>
    <li class="twit"><i class='icon icon-twitter-sign icon-3x'></i> </li>
  </ul>
</div>